### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.columns
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#'Student ID', 'student_name', 'gender', 'year', 'school_name','reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'],


name = school_data_complete['school_name'].unique()
total_school = len(name)
total_school
#total_school_number
total_students = school_data_complete["student_name"].count()
#total_students
total_budget = school_data["budget"].sum()
#total_budget
average_maths = school_data_complete["maths_score"].mean()
#average_maths
average_reading = school_data_complete["reading_score"].mean()
#average_reading
pass_maths = school_data_complete.loc[school_data_complete["maths_score"] >=50]
students_passing_math = pass_maths["Student ID"].count()                           
percent_math = (students_passing_math / total_students) * 100
#percent_math
pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >=50]
students_passing_read = pass_reading["Student ID"].count()
percent_read = (students_passing_read / total_students) * 100
#percent_read
both_pass = school_data_complete[(school_data_complete['maths_score'] >= 50) & 
(school_data_complete['reading_score'] >= 50)]['Student ID'].count()/total_students*100
#both_pass


dataframe = pd.DataFrame({
    "Total Schools": total_school,
    "Total Students": f"{total_students:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Maths Score": f"{average_maths:.6f}",
    "Average Reading Score": f"{average_reading:.5f}",
    "% Passing Math": f"{percent_math:.6f}",
    "% Passing Reading": f"{percent_read:.6f}",
    "% Overall Passing": f"{both_pass: .6f}"
}, index=[0])

dataframe

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.98014,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']
total_student = school_name['Student ID'].count()

total_school_budget = school_data.set_index('school_name')['budget']
budget_per_student = (school_data.set_index('school_name')['budget']/ school_data.set_index('school_name')['size'])
average_math = school_name['maths_score'].mean()
average_reading = school_name['reading_score'].mean()

pass_math_percent = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100
both_pass = school_data_complete[(school_data_complete['reading_score'] >= 50) & (school_data_complete['maths_score'] >= 50)].groupby('school_name')['Student ID'].count()/total_student*100

school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Total School Budget": total_school_budget,
    "Per Student Budget": budget_per_student,
    "Average Maths Score": average_math,
    "Average Reading Score": average_reading,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": both_pass
})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
school_summary_best = school_summary.sort_values("% Overall Passing", ascending=False)
school_summary_best.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
school_summary_worst = school_summary.sort_values("% Overall Passing", ascending=True)
school_summary_worst.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:

nineth_graders = school_data_complete.loc[(school_data_complete["year"] == 9)]
tenth_graders = school_data_complete[(school_data_complete["year"] == 10)]
eleventh_graders = school_data_complete[(school_data_complete["year"] == 11)]
twelfth_graders = school_data_complete[(school_data_complete["year"] == 12)]

nineth_graders_scores = nineth_graders.groupby(["school_name"]).mean()["maths_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["maths_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["maths_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["maths_score"]


scores_by_grade_df = pd.DataFrame({
 "Year 9": nineth_graders_scores,
   "Year 10":tenth_graders_scores,
   "Year 11":eleventh_graders_scores,
   "Year 12":twelfth_graders_scores    
})

scores_by_grade_df

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [7]:
nineth_graders = school_data_complete.loc[(school_data_complete["year"] == 9)]
tenth_graders = school_data_complete[(school_data_complete["year"] == 10)]
eleventh_graders = school_data_complete[(school_data_complete["year"] == 11)]
twelfth_graders = school_data_complete[(school_data_complete["year"] == 12)]

nineth_graders_scores = nineth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]


scores_by_grade_df = pd.DataFrame({
   "Year 9": nineth_graders_scores,
   "Year 10":tenth_graders_scores,
   "Year 11":eleventh_graders_scores,
   "Year 12":twelfth_graders_scores    
})

scores_by_grade_df

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
    "Per Student Budget": budget_per_student,

In [15]:
bins = [0, 585, 630, 645, 680]
group_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

school_summary["Per Student Budget"] = school_summary["Per Student Budget"].astype('int64')

pd.cut(school_summary["Per Student Budget"], bins, labels=group_labels).head()

school_summary["Per Student Budget"] = pd.cut(school_summary["Per Student Budget"], bins, labels=group_labels)
school_summary

ValueError: invalid literal for int() with base 10: '$585-630'

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type